# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
target/
/dubbo-spring-boot-demo-consumer/target/
/dubbo-spring-boot-demo-interface/target/
/dubbo-spring-boot-demo-provider/target/
